export/
art/flashFiles EDITED/RECOVER_*
assets/_exclude/
art/flashFiles EDITED/characters/Jumpscare Kids.fla
art/flashFiles EDITED/characters/RECOVER_*
art/flashFiles EDITED/characters/Boyfriend With Alts.fla
*.ini
art/flashFiles EDITED/characters/Boyfriend Homicide.fla
art/flashFiles EDITED/notes/RECOVER_*
source/openfl/
art/flashFiles EDITED/bgs/RECOVER_*
art/flashFiles EDITED/characters/Boyfriend W Talking.fla
*.swf
art/flashFiles EDITED/characters/Tankman BlackLines.fla
